name: Extract GitHub Issues

on:
  workflow_dispatch:
  schedule:
    - cron: '0 1 * * *'  

jobs:
  extract-issues:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          set -e
          python -m venv .venv
          source .venv/bin/activate
          pip install -r requirements.txt

      - name: Run extract issues script
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          set -e
          source .venv/bin/activate
          python scripts/extract_issues.py

      - name: Upload generated Excel file
        uses: actions/upload-artifact@v4
        with:
          name: github-issues-label-flags
          path: label_flags.xlsx
